body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#calculator{
    padding: 20px;
    background-color: aliceblue;
    border: 1px solid rgb(95, 93, 93);
    border-radius: 11px;
    width: 250px;
    box-sizing: border-box;
}
#display{
    background-color: aliceblue;
    border-radius: 11px;
    margin: 10px;
    width: 85%;
    font-size: 25px;
}
.button-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.button{
   text-align: center;
    width: 59px;
    height: 45px;
    margin: 2.8px;
}
h1{
    font-weight: bold;
    color: rgb(245, 183, 11);
text-decoration: underline solid rebeccapurple;
}
